{#
  submission
  form
#}
{% set team = data.team %}
<div class="itog-report-semenkovo">
    <h5>Учет экскурсионных часов научных сотрудников</h5>
    <table class="all_tables">
      <tr>
        <td><strong>№</strong></td>
        <td><strong>ФИО работника</strong></td>
        <td><strong>Часы</strong></td>
      </tr>
      {% for person in team %}
      {% if person.chas_itogo %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ person.title }}</td>
        <td>{{ person.chas_itogo }}</td>
      </tr>
      {% else %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ person.title }}</td>
        <td>0</td>
      </tr>
      {% endif %}
      {% endfor %}
      <tr>
        <td> </td>
        <td>ВСЕГО:</td>
        <td>{{data.vsego_chasov}}</td>
      </tr>
    </table>

    {{data.ekskurs}}
    {{data.ekskurs_long}}
    {{data.meropr}}
    {{data.sum}}

    <h5>Учет музейных услуг</h5>
    <table class="all_tables">
      <tr>
        <td><strong>№</strong></td>
        <td><strong>Тип программы</strong></td>
        <td><strong>Количество</strong></td>
      </tr>
      {% for programm in data.all_programm %}
      {% if programm.summa %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ programm.name_programm }}</td>
        <td>{{ programm.summa }}</td>
      </tr>
      {% else %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ programm.name_programm }}</td>
        <td>0</td>
      </tr>
      {% endif %}
      {% endfor %}
      <tr>
        <td> </td>
        <td>ВСЕГО:</td>
        <td>{{data.vsego_programm}}</td>
      </tr>
      </table>

      <h5>Учет посетителей по категориям</h5>
      <table class="all_tables">
      <tr>
        <td><strong>№</strong></td>
        <td><strong>Категория посетителей</strong></td>
        <td><strong>Количество людей</strong></td>
      </tr>
      {% for kategory in data.all_kategory %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ kategory.key }}</td>
        <td>{{ kategory.sum }}</td>
      </tr>
      {% endfor %}
      </table>
      <h5>Учет посетителей по регионам</h5>
      <table class="all_tables">
      <tr>
        <td><strong>№</strong></td>
        <td><strong>Регионы посетителей</strong></td>
        <td><strong>Количество людей</strong></td>
      </tr>
      {% for region in data.all_region %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ region.key }}</td>
        <td>{{ region.sum }}</td>
      </tr>
      {% endfor %}
      </table>

      <h5>Статистика по посещаемости</h5>
      <table class="all_tables">
      <tr>
        <td>Посещаемость (суммарная)</td>
        <td>{{data.vsego_people}}</td>
      </tr>
      <tr>
        <td>Посещаемость по входным билетам</td>
        <td>{{data.vsego_people_vhod}}</td>
      </tr>
      <tr>
        <td>Количество лиц, имеющих право бесплатного посещения</td>
        <td>{{data.people_free_vhod}}</td>
      </tr>
      <tr>
        <td>Количество экскурсантов</td>
        <td>{{data.kolvo_people_ekskurs}}</td>
      </tr>
      <tr>
        <td>Количество экскурсантов в человеко-часах</td>
        <td>{{data.kolvo_people_ekskurs_long}}</td>
      </tr>
      <tr>
        <td>Количество участников массовых мероприятий</td>
        <td>{{data.kolvo_people_meropr}}</td>
      </tr>
      <tr>
        <td>Количество участников мероприятий типа "Аренда"</td>
        <td>{{data.kolvo_people_arenda}}</td>
      </tr>
      </table>

      <h5>Финансовая статистика</h5>
      <table class="all_tables">
      <tr>
        <td>Доход по входным билетам</td>
        <td>{{data.summ_cost_vhod}}</td>
      </tr>
      <tr>
        <td>Доход за экскурсии (оплачено)</td>
        <td>{{data.oplacheno_ekskurs}}</td>
      </tr>
      <tr>
        <td>Доход за массовые мероприятия (оплачено)</td>
        <td>{{data.oplacheno_meropr}}</td>
      </tr>
      <tr>
        <td>Доход за аренду (оплачено)</td>
        <td>{{data.oplacheno_arenda}}</td>
      </tr>
      <tr>
        <td>Доход за все услуги (оплачено)</td>
        <td>{{data.oplacheno}}</td>
      </tr>
      <tr>
        <td>Стоимость (фактическая) всех оказанных услуг</td>
        <td>{{data.summ_fakt_cost}}</td>
      </tr>
      <tr>
        <td>Дебет</td>
        <td>{{data.debet}}</td>
      </tr>
      </table>

      <h5>Статистика по услугам</h5>
      <table class="all_tables">
      <tr>
        <td>Количество экскурсий</td>
        <td>{{data.kolvo_ekskurs}}</td>
        <td>{{data.kolvo_ekskurs_long}}</td>
      </tr>
      <tr>
        <td>Количество массовых мероприятий</td>
        <td>{{data.kolvo_meropr}}</td>
        <td>{{data.kolvo_meropr_long}}</td>
      </tr>
      <tr>
        <td>Количество программ типа "Аренда"</td>
        <td>{{data.kolvo_arenda}}</td>
        <td>{{data.kolvo_arenda_long}}</td>
      </tr>
      </table>
      <hr>
      <p> Отчет сформирован {{data.today}} в {{data.now}} пользователем {{data.user}}</p>

      {#
      <h4>Люди:</h4>
      <p> Посещаемость (суммарная) --- {{data.vsego_people}} </p>
      <p> Посещаемость по входным билетам --- {{data.vsego_people_vhod}} </p>
      <p> Количество лиц, имеющих право бесплатного посещения --- {{data.people_free_vhod}} </p>
      <p> Количество экскурсантов --- {{data.kolvo_people_ekskurs}} </p>
      <p> Количество участников массовых мероприятий --- {{data.kolvo_people_meropr}} </p>
      <h4>Деньги:</h4>
      <p> Доход по входным билетам --- {{data.summ_cost_vhod}} </p>
      <p> Доход за экскурсии (оплачено) --- {{data.oplacheno_ekskurs}} </p>
      <p> Доход за мероприятия (оплачено) --- {{data.oplacheno_meropr}} </p>
      <p> Доход за аренду (оплачено) --- {{data.oplacheno_arenda}} </p>
      <p> Доход за все услуги (оплачено) --- {{data.oplacheno}} </p>
      <p> Стоимость (фактическая) всех оказанных услуг --- {{data.summ_fakt_cost}} </p>
      <p> Дебет --- {{data.debet}} </p>
      <h4>Услуги:</h4>
      <p> Количество экскурсий --- {{data.kolvo_ekskurs}} </p>
      <p> Количество массовых мероприятий --- {{data.kolvo_meropr}} </p>
      <p> Количество программ типа "Аренда" --- {{data.kolvo_arenda}} </p>
      #}
</div>
