{#
  submission
  form
#}
{% set team = data.team %}

<div class="header">
  <p>Отчет за {{data.reportmonth}}
    <h5>Учет музейных услуг</h5>
    <table class="all_tables">
      <tr>
        <td><strong>№</strong></td>
        <td><strong>Тип программы</strong></td>
        <td><strong>Количество</strong></td>
      </tr>
      {% for programm in data.all_programm %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ programm.name_programm }}</td>
        <td>{{ programm.summa }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td> </td>
        <td>ВСЕГО:</td>
        <td>{{data.vsego_programm}}</td>
      </tr>
      <tr>
      </table>
      <h5>Учет посетителей по категориям</h5>
      <table class="all_tables">
        <td><strong>№</strong></td>
        <td><strong>Категория посетителей</strong></td>
        <td><strong>Количество людей</strong></td>
      </tr>
      {% for kategory in data.all_kategory %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ kategory.key }}</td>
        <td>{{ kategory.sum }}</td>
      </tr>
      {% endfor %}
      </table>
      <h5>Учет посетителей по регионам</h5>
      <table class="all_tables">
      <tr>
        <td><strong>№</strong></td>
        <td><strong>Регионы посетителей</strong></td>
        <td><strong>Количество людей</strong></td>
      </tr>
      {% for region in data.all_region %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ region.key }}</td>
        <td>{{ region.sum }}</td>
      </tr>
      {% endfor %}
      </table>
      <p> Посещаемость --- {{data.vsego_people}} </p>
      <p> Доход фактический (исходя из фактической стоимости) --- {{data.summ_fakt_cost}} </p>
      <p> Доход реальный (исходя из оплаченного) --- {{data.oplacheno}} </p>

  <h5>Учет экскурсионных часов научных сотрудников</h5>
  <table class="all_tables">
    <tr>
      <td><strong>№</strong></td>
      <td><strong>ФИО работника</strong></td>
      <td><strong>Часы</strong></td>
    </tr>
    {% for person in team %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ person.title }}</td>
      <td>{{ person.chas_itogo }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td> </td>
      <td>ВСЕГО:</td>
      <td>{{data.vsego_chasov}}</td>
    </tr>
  </table>
  </p>
</div>
