<div class="full-report-semenkovo">

      <h5>Статистика по посещаемости</h5>
      <table class="all_tables">
      <tr>
        <td><font color="red">Количество участников массовых мероприятий</font></td>
        <td><font color="red">{{data.kolvo_people_meropr}}</font></td>
        <td><font color="red">{{data.kolvo_people_meropr_long}}</font></td>
      </tr>
      <tr bgcolor="Gainsboro">
        <td>Количество участников мероприятий типа "Аренда"</td>
        <td>{{data.kolvo_people_arenda}}</td>
        <td>{{data.kolvo_people_arenda_long}}</td>
      </tr>
      </table>
      <hr>
      <p> Отчет сформирован {{data.today}} в {{data.now}} пользователем {{data.user}}</p>
</div>
