{#
  submission
  form
#}
{% set team = data.team %}

<div class="header">
  <p>Отчет за {{data.reportmonth}}
    <h3>Учет музейных услуг</h3>
    <table>
      <tr>
        <td><strong>№</strong></td>
        <td><strong>Тип программы</strong></td>
        <td><strong>Количество</strong></td>
      </tr>
      {% for programm in data.all_programm %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ programm.name_programm }}</td>
        <td>{{ programm.summa }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td> </td>
        <td>ВСЕГО:</td>
        <td>{{data.vsego_programm}}</td>
      </tr>
      <tr>
        <td>Посещаемость</td>
        <td>{{data.vsego_people}}</td>
      </tr>
    </table>
  <h3>Учет экскурсионных часов научных сотрудников</h3>
  <table>
    <tr>
      <td><strong>№</strong></td>
      <td><strong>ФИО работника</strong></td>
      <td><strong>Часы</strong></td>
    </tr>
    {% for person in team %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ person.title }}</td>
      <td>{{ person.chas_itogo }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td> </td>
      <td>ВСЕГО:</td>
      <td>{{data.vsego_chasov}}</td>
    </tr>
  </table>
  </p>
</div>
